<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/res/favicon.ico">

    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/main.css">

    <title th:text="${Title}"></title>
</head>
<body>
<main class="container my-5">
    <h1 class="text-center">Yönetici Paneli</h1>
    <p><b>Current User:</b> <span th:text="${username}">USERNAME</span></p>

    <div class="row">
        <div class="col-6">
            <h3>Kullanıcılar</h3>
            <div th:each="user: ${users}">
                <p th:text="${user.username}"></p>
            </div>
        </div>
        <div class="col-6">
            <h3>Görevlerim</h3>
            <div th:each="task: ${userTasks}">
                <p th:text="${task.body}"></p>
                <p><small th:text="${task.owner}"></small>, <i th:text="${task.dateCreated}"></i></p>
            </div>
        </div>
    </div>

    <div class="row">

        <div class="col-6 offset-3">
            <h3>Bütün Görevler</h3>
            <div th:each="task: ${allTasks}">
                <p th:text="${task.body}"></p>
                <p><small th:text="${task.owner}"></small>, <i th:text="${task.dateCreated}"></i></p>
            </div>
        </div>
    </div>
</main>

<script src="/js/bootstrap.bundle.min.js"></script>
</body>
</html>