<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/res/favicon.ico">

    <link rel="stylesheet" href="/css/bootstrap.min.css">

    <title th:text="${Title}"></title>
</head>
<body>
    <main class="container my-5">
        <h1 class="text-center">Yönetici Paneli</h1>
        <p><b>Current User:</b> <span th:text="${activeUser}"></span></p>

        <div class="row mb-3">
            <div class="col-6">
                <div class="p-3 bg-light border">
                    <h3>Kullanıcılar</h3>
                    <div id="usersPanel">
                    </div>

                    <div id="userCreatePanel" class="p-3 bg-light border">
                        <h5>Yeni Kullanıcı Ekle</h3>
                        <form id="userCreateForm">
                            <div class="mb-3">
                                <label for="newUserUsernameTx" class="form-label">Kullanıcı adı</label>
                                <input class="form-control" id="newUserUsernameTx" name="username">
                            </div>
                            <div class="mb-3">
                                <label for="newUserPasswordTx" class="form-label">Parola</label>
                                <input type="password" class="form-control" id="newUserPasswordTx" name="password">
                            </div>

                            <div class="mb-3">
                                <input type="checkbox" id="newUserAdminCb" name="isAdmin" class="form-check-input">
                                <label for="newUserAdminCb" class="form-check-label">Yönetici</label>
                            </div>
                            <button class="btn btn-primary" id="createUserBt">Ekle</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="p-3 bg-light border">
                    <h3>Notlarım</h3>
                    <div id="notesPanel">
                        <div class="p-2 my-3 bg-white border">
                            <p class="mb-0">Everything</p>
                            <p class="mb-0"><small>admin</small>, <i>YYYY-MM-DD</i></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-6 offset-3">
                <div class="p-3 bg-light border">
                    <h3>Bütün Notlar</h3>
                    <div id="allNotesPanel">
                        <div class="p-2 my-3 bg-white border">
                            <p class="mb-0">TEXT</p>
                            <p class="mb-0"><small>username</small>, <i>DATE</i></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <script src="/js/api-wrapper.js"></script>
    <script src="/js/admin-panel.js"></script>
    <script src="/js/bootstrap.bundle.min.js"></script>
</body>
</html>