<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/res/favicon.ico">

    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/main.css">

    <title th:text="${Title}"></title>
</head>
<body>
    <main class="container my-5">
        <h1 class="text-center">Giriş Yap</h1>

        <form action="/login" method="POST" class="validated-form" novalidate>
            <div class="mb-3">
                <label for="usernameTx" class="form-label">Kullanıcı adı</label>
                <input type="text" name="username" class="form-control" id="usernameTx" required>
            </div>
            <div class="mb-3">
                <label for="passwordTx" class="form-label">Parola</label>
                <input type="password" name="password" class="form-control" id="passwordTx"
                       required>
            </div>

            <button type="submit" class="btn btn-primary" id="sendBt">Login</button>
        </form>
    </main>

    <script src="/js/bootstrap.bundle.min.js"></script>
</body>
</html>