<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/res/favicon.ico">

    <link rel="stylesheet" href="/css/bootstrap.min.css">

    <title th:text="${Title}"></title>
</head>
<body>
    <main class="container my-5">
        <h1 class="text-center">Notlarım</h1>

        <p><b>Aktif kullanıcı:</b> <span th:text="${activeUser}"></span></p>
        <div class="my-3">
            <a href="/logout" class="btn btn-link">Çıkış yap</a>
        </div>

        <div class="mb-3" th:if="${isUserAdmin} == true">
            <a href="/admin/panel" class="btn btn-link">Yönetici paneline geç</a>
        </div>

        <div class="p-2 my-3 bg-white border" th:each="note: ${userNotes}">
            <div>
                <a th:attr="href='/user/shownote/'+${note.id}" class="small">Notu Görüntüle</a>
            </div>
            <div th:text="${note.body}"></div>
            <div>
                <small th:text="${note.owner.username}"></small>,
                <i th:text="${note.dateCreated}"></i>
            </div>
        </div>

        <form id="newNoteForm" action="/user/createnote" method="POST">
            <input type="hidden" name="owner" value="TANIMSIZ" th:attr="value=${username}">
            <div class="mb-3">
                <label for="noteBodyTx" class="form-label">Yeni Not</label>
                <textarea name="body" class="form-control" id="noteBodyTx" required></textarea>
            </div>

            <button type="submit" class="btn btn-primary px-3 d-block ms-auto" id="sendBt">Ekle</button>
        </form>
    </main>

    <script>
        const newNoteForm = document.getElementById("newNoteForm");

        newNoteForm.addEventListener("submit", e => {
            const noteBodyTx = document.getElementById("noteBodyTx");

            if(noteBodyTx.value.trim().length === 0) {
                e.preventDefault();
                alert("Boş not eklenemez.");
            } 
        });
    </script>

    <script src="/js/bootstrap.bundle.min.js"></script>
</body>
</html>